* {
  font-family: sans-serif;
}

.todo {
  display: block;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #fff3cd;
  margin: 0.5em 0;
}

.todo.done{
  background-color: #d4edda;
}

.todo .text, .todo .status {
  display: inline-block;
}
.todo .status {
  font-size: 0.7em;
}

.todo-list .todo .status {
  font-size: 0.7em;
}

.error {
  color: red;
  font-size: 0.7em;
}

input.error {
  border-color: red;
  color: inherit;
  font-size: inherit;
}
